<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="autokatta.com">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission
        android:name="android.permission.VIBRATE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name=".broadcastreceiver.Receiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="autokatta.com.broadcastreceiver.Receiver" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".AutokattaMainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.app.default_searchable"
                android:value="autokatta.com.AutokattaMainActivity" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".view.UserProfile"
            android:label="@string/title_activity_user_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.MyAutokattaContacts"
            android:label="@string/title_activity_my_autokatta_contacts"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".view.UploadVehicleIntro" />
        <activity
            android:name=".view.GroupsTab"
            android:label="@string/title_activity_groups_tab"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.MyStoreListActivity"
            android:label="@string/title_activity_my_store_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".other.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.RegistrationActivity"
            android:label="@string/title_activity_registration"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.BrowseStoreActivity"
            android:label="@string/title_activity_browse_store"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.VehicleUpload"
            android:label="@string/title_activity_vehicle_upload"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.SearchStoreActivity"
            android:label="@string/title_activity_search_store"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".view.OTP" />
        <activity
            android:name=".view.MySearchActivity"
            android:label="@string/title_activity_my_search"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.Forget_Password"
            android:label="@string/title_activity_forget__password"
            android:theme="@style/AppTheme" />
        <activity android:name=".view.NewPassword" />
        <activity
            android:name=".view.MyUploadedVehiclesActivity"
            android:label="@string/title_activity_my_uploaded_vehicles"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.MyActiveEventsTabActivity"
            android:label="@string/title_activity_my_active_events_tab"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.MySavedAuctionEventActivity"
            android:label="@string/title_activity_my_saved_auction_event"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.BlackListedMemberActivity"
            android:label="@string/title_activity_black_listed_member"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.ContinueRegistration"
            android:label="@string/title_activity_continue_registration"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.MyUpcomingEventsTabActivity"
            android:label="@string/title_activity_my_upcoming_events_tab"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.Create_Event"
            android:label="@string/title_activity_create_event"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.MyBroadcastGroupsActivity"
            android:label="@string/title_activity_my_broadcast_groups"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.ContinueNextRegistration"
            android:label="Continue Next Registration"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".view.GroupNextTab" />
        <activity
            android:name=".view.MyEndedEventTabActivity"
            android:label="@string/title_activity_my_ended_event"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>